--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
fastapi
uvicorn[standard]
timm
pillow
numpy
python-multipart
huggingface-hub
opencv-python-headless
grad-cam